#homePage {
    -fx-background-image: url("fakurian-design-UiiHVEyxtyA-unsplash.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}